.calculatorBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 40px;
    padding: 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: calc(300px + 20%);
    border-radius: 8px;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: rgb(41, 146, 202);
    border-radius: 5px;
    background-color: rgb(243, 251, 255);
    border: none;
    text-align: center;
}

input[type=number]:focus {
    color: rgb(41, 146, 202);
    outline: none;
}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;


    .left-col {
        width: 50%;
        text-align: start;
        margin-right: 3%;
    }

    .right-col {
        width: 40%;
    }

    .tooltip {
        width: 0%;
        margin-left: 1%;
    }


}

#warranty-limitation {
    font-size: 10pt;
}

.confirmation {
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    label {
        width: 80%;
        text-align: justify;
    }

    input {
        width: 10%;
    }
}


@media screen and (max-width: 600px) {
    .form {
        .left-col {
            width: 100%;
        }

        .right-col {
            width: 90%;
            margin-bottom: 20px;
        }

        .tooltip {
            width: 10%;
        }
    }

    // .calculatorBody{
    //     width: 80%;
    // }

}